html,
body {
  min-height: 100%; }

hr.divider {
  width: 183px;
  height: 14px;
  display: block;
  margin: 60px auto;
  border: none;
  background: url("../images/divider@2x.png");
  background-size: 100%; }
  @media (max-width: 767px) {
    hr.divider {
      margin: 40px auto; } }

#wrapper {
  overflow: hidden; }

.content {
  padding: 40px 0 80px; }
  @media (max-width: 767px) {
    .content {
      padding-left: 10px;
      padding-right: 10px; } }
  .content .content-padding {
    padding: 25px;
    border-bottom: 1px solid #f1f1f2; }
    @media (max-width: 767px) {
      .content .content-padding {
        padding: 25px 0; } }
    .content .content-padding:first-of-type {
      padding-top: 5px; }
    .content .content-padding:last-of-type {
      border: none; }

.popover {
  border-color: transparent; }
  .popover .arrow {
    border-color: transparent !important; }
  .popover .popover-content {
    padding: 12px 18px; }

html, body {
  font-size: 62.5%; }

h1, h2, h3, h4,
p, ol, ul, li, div,
input, label {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem; }

h1 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 4.2rem;
  font-weight: 900;
  color: #231f20;
  letter-spacing: -0.5px; }

h2 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #1a2554;
  letter-spacing: 0.2px; }

h3 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  color: #231f20;
  letter-spacing: 0.2px; }
  h3 a.view-all {
    font-family: "Volkhov", "Georgia", serif;
    font-size: 1.4rem;
    font-style: italic;
    letter-spacing: -0.5px;
    color: #1b75bb;
    margin-left: 6px;
    text-transform: lowercase; }

h4 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #231f20; }

h5 {
  font-family: "Volkhov", "Georgia", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #231f20; }

h6 {
  font-family: "Volkhov", "Georgia", serif;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0px;
  color: #808284; }

p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.7rem;
  color: #414243; }

a {
  opacity: 1;
  transition: all 0.5s; }
  a:hover {
    text-decoration: none;
    opacity: 0.65; }
  a.underline {
    font-weight: 700;
    border-bottom: 1px dashed #4e84bf; }
  a.text-center {
    display: inline-block; }

.btn {
  border: none;
  border-radius: 0;
  font-weight: 700; }
  .btn.btn-primary {
    background: #fcb514;
    color: white; }

.label.culture {
  background: #f1c34a; }
  .label.culture:hover {
    background: #dda511; }
.label.coalitions {
  background: #8d9ace; }
  .label.coalitions:hover {
    background: #576bb7; }
.label.change {
  background: #76c9b8; }
  .label.change:hover {
    background: #45ae98; }
.label.leadership {
  background: #92c83d; }
  .label.leadership:hover {
    background: #689029; }

header nav.navbar {
  border-radius: 0;
  background: #4e84bf;
  border: none;
  min-height: 70px;
  margin-bottom: 0; }
  header nav.navbar .navbar-header .navbar-toggle {
    border: none;
    margin-top: 14px; }
    header nav.navbar .navbar-header .navbar-toggle:hover, header nav.navbar .navbar-header .navbar-toggle:focus {
      background: none; }
      header nav.navbar .navbar-header .navbar-toggle:hover > span, header nav.navbar .navbar-header .navbar-toggle:focus > span {
        opacity: 1; }
    header nav.navbar .navbar-header .navbar-toggle.collapsed:hover, header nav.navbar .navbar-header .navbar-toggle.collapsed:focus {
      background: none; }
      header nav.navbar .navbar-header .navbar-toggle.collapsed:hover > span, header nav.navbar .navbar-header .navbar-toggle.collapsed:focus > span {
        opacity: 1; }
    header nav.navbar .navbar-header .navbar-toggle.collapsed > span {
      opacity: 0.5;
      transition: all 0.5s; }
    header nav.navbar .navbar-header .navbar-toggle > span {
      font-weight: 900;
      text-transform: uppercase;
      color: white; }
  header nav.navbar .navbar-header .navbar-brand {
    text-indent: -9999px;
    background-image: url("../images/logo-md@2x.png");
    background-size: 100%;
    width: 550px;
    height: 38px;
    margin: 14px 0 0 16px; }
    @media (max-width: 991px) {
      header nav.navbar .navbar-header .navbar-brand {
        background-image: url("../images/logo-xs@2x.png");
        width: 160px;
        height: 48px;
        margin: 10px 0 0 16px; } }
    @media (max-width: 767px) {
      header nav.navbar .navbar-header .navbar-brand {
        margin: 10px 0 10px 16px; } }
  header nav.navbar .navbar-nav {
    margin-right: 0px !important; }
    @media (max-width: 767px) {
      header nav.navbar .navbar-nav {
        margin: 0 -15px; } }
    @media (max-width: 767px) {
      header nav.navbar .navbar-nav > li:last-child > a {
        border: none; } }
    header nav.navbar .navbar-nav > li > a {
      font-weight: 700;
      letter-spacing: 0.2px;
      padding-top: 24px;
      padding-bottom: 26px;
      color: white;
      opacity: 0.5;
      transition: all 0.5s; }
      header nav.navbar .navbar-nav > li > a:hover {
        opacity: 1; }
        @media (max-width: 767px) {
          header nav.navbar .navbar-nav > li > a:hover {
            background: #1a2554; } }
      @media (max-width: 767px) {
        header nav.navbar .navbar-nav > li > a {
          padding-top: 15px;
          padding-bottom: 15px;
          margin: 0 -15px 0 0;
          background: #4e84bf;
          border-bottom: 1px solid #739ecd;
          opacity: 1; } }
    header nav.navbar .navbar-nav > li.current-menu-item > a {
      color: white;
      opacity: 1; }
  @media (max-width: 767px) {
    header nav.navbar .navbar-collapse {
      position: absolute;
      width: 100%;
      border-top: none;
      margin-top: 8px; } }

section.stay-connected {
  background: #4e84bf;
  padding: 40px 0;
  position: relative; }
  section.stay-connected:before {
    content: '';
    border-top: 16px solid white;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: 0;
    left: 50%;
    position: absolute;
    margin-left: -8px; }
  @media (max-width: 767px) {
    section.stay-connected {
      padding: 40px 10px; } }
  section.stay-connected h3 {
    margin: 0 0 10px;
    color: white; }
    @media (max-width: 767px) {
      section.stay-connected h3 {
        font-size: 2.1rem; } }
  section.stay-connected p {
    color: white;
    line-height: 2.4rem; }
  section.stay-connected ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    section.stay-connected ul li a {
      color: white;
      text-decoration: none;
      margin-bottom: 10px;
      display: inline-block;
      transition: all 0.5s; }
      section.stay-connected ul li a:hover {
        color: #1a2554; }
        section.stay-connected ul li a:hover i {
          background-color: #1a2554; }
      section.stay-connected ul li a i {
        background-color: white;
        border-radius: 999px;
        color: #4e84bf;
        height: 26px;
        width: 26px;
        display: inline-block;
        padding: 3px 4px;
        position: relative;
        margin-right: 6px;
        transition: all 0.5s; }
        section.stay-connected ul li a i.icon-cfar {
          text-transform: none;
          line-height: 1em;
          background-image: url("../images/cfar-icon@2x.png");
          background-size: 100%;
          top: 6px; }
  @media (max-width: 767px) {
    section.stay-connected #mc_embed_signup {
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25); } }
  section.stay-connected #mc_embed_signup input[type="email"] {
    border: none;
    border-radius: 0;
    font-style: italic; }
  section.stay-connected #mc_embed_signup input[type="submit"] {
    border: 1px solid #1a2554;
    background: #1a2554;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 0;
    transition: all 0.5s; }
    section.stay-connected #mc_embed_signup input[type="submit"]:hover {
      border: 1px solid #fcb514;
      background: #fcb514; }

footer {
  padding: 25px 0; }
  footer .footer-logo > img {
    max-width: 200px;
    width: 100%; }
    @media (max-width: 767px) {
      footer .footer-logo > img {
        margin-bottom: 15px; } }
  footer p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    color: #a7a8aa; }
    @media (min-width: 768px) and (max-width: 991px) {
      footer p {
        line-height: 1.8rem; } }
    footer p strong {
      margin-right: 5px; }
    footer p a {
      color: #a7a8aa; }

.homepage-hero {
  background-image: url("../images/background1.jpg");
  background-size: cover;
  height: 530px;
  width: 100%;
  position: relative;
  margin-top: -70px;
  padding-top: 70px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .homepage-hero {
      height: 450px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .homepage-hero {
      height: 440px; } }
  @media (max-width: 767px) {
    .homepage-hero {
      padding-left: 10px;
      padding-right: 10px;
      height: 420px; } }
  .homepage-hero img.book-cover {
    max-width: 90%;
    margin-top: 50px; }
    @media (max-width: 767px) {
      .homepage-hero img.book-cover {
        margin: 30px auto 0;
        display: block;
        max-width: 260px;
        width: 100%; } }
  .homepage-hero h1 {
    margin-top: 100px;
    color: #c0d4e8;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
    line-height: 5.2rem; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .homepage-hero h1 {
        font-size: 3.6rem;
        line-height: 4.2rem; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .homepage-hero h1 {
        font-size: 3.2rem;
        line-height: 4.2rem;
        margin-top: 75px; } }
    @media (max-width: 767px) {
      .homepage-hero h1 {
        margin-top: 30px;
        font-size: 3.2rem;
        line-height: 4.2rem;
        display: none; } }
  .homepage-hero .quote {
    margin: 0; }
  .homepage-hero .quote-container {
    position: relative; }
    .homepage-hero .quote-container .quote {
      position: absolute;
      top: 0;
      opacity: 0;
      transition: all 0.5s;
      color: white; }
      .homepage-hero .quote-container .quote.active {
        opacity: 1; }
  .homepage-hero .buttons {
    margin-top: 90px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .homepage-hero .buttons {
        margin-top: 70px; } }
    @media (max-width: 767px) {
      .homepage-hero .buttons {
        margin-top: 20px; } }
    .homepage-hero .buttons .sod_select {
      width: 220px;
      padding: 17px 25px;
      border: none;
      background: #fcb514;
      color: white;
      font-size: 1.6rem;
      font-weight: 700;
      text-align: left;
      text-transform: none;
      cursor: pointer;
      margin-right: 8px;
      line-height: 1.33;
      transition: all 0.5s; }
      .homepage-hero .buttons .sod_select:before {
        top: 16px;
        right: 16px; }
        @media (min-width: 768px) and (max-width: 991px) {
          .homepage-hero .buttons .sod_select:before {
            top: 14px; } }
      .homepage-hero .buttons .sod_select:after {
        bottom: 16px;
        right: 16px; }
        @media (min-width: 768px) and (max-width: 991px) {
          .homepage-hero .buttons .sod_select:after {
            bottom: 14px; } }
      .homepage-hero .buttons .sod_select:hover, .homepage-hero .buttons .sod_select:focus {
        background: #ef8a22; }
      .homepage-hero .buttons .sod_select .sod_label {
        font-size: 1.6rem; }
        @media (min-width: 768px) and (max-width: 991px) {
          .homepage-hero .buttons .sod_select .sod_label {
            font-size: 1.4rem; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .homepage-hero .buttons .sod_select {
          font-size: 1.4rem;
          width: 190px;
          padding: 14px 20px; } }
      @media (max-width: 767px) {
        .homepage-hero .buttons .sod_select {
          width: 100%; } }
    .homepage-hero .buttons .sod_list {
      background: #fcb514;
      border: none;
      width: 220px;
      margin-top: 5px;
      left: 3px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .homepage-hero .buttons .sod_list {
          width: 190px; } }
      @media (max-width: 767px) {
        .homepage-hero .buttons .sod_list {
          width: 100%; } }
      .homepage-hero .buttons .sod_list li {
        color: white;
        font-weight: 700;
        padding: 12px;
        font-size: 1.6rem;
        cursor: pointer; }
        .homepage-hero .buttons .sod_list li.selected {
          font-weight: 700; }
        .homepage-hero .buttons .sod_list li:hover, .homepage-hero .buttons .sod_list li.active {
          background: #ef8a22; }
        @media (min-width: 768px) and (max-width: 991px) {
          .homepage-hero .buttons .sod_list li {
            font-size: 1.4rem; } }
    .homepage-hero .buttons .btn-lg {
      padding: 17px 25px;
      font-size: 1.6rem;
      margin-top: -14px; }
      .homepage-hero .buttons .btn-lg:hover {
        opacity: 1;
        background: #ef8a22; }
      @media (min-width: 768px) and (max-width: 991px) {
        .homepage-hero .buttons .btn-lg {
          font-size: 1.4rem;
          padding: 14px 20px;
          margin-top: -10px; } }
      @media (max-width: 767px) {
        .homepage-hero .buttons .btn-lg {
          width: 100%;
          margin-top: 8px; } }

.homepage-about {
  padding: 80px 0; }
  @media (max-width: 767px) {
    .homepage-about {
      padding: 250px 10px 0; } }
  .homepage-about h5 {
    text-align: center;
    margin-bottom: 25px; }
  .homepage-about .about-image {
    margin: 20px auto 30px;
    position: relative; }
    .homepage-about .about-image > img {
      max-width: 200px;
      display: block;
      margin: 20px auto 30px; }
    @media (max-width: 767px) {
      .homepage-about .about-image:last-of-type {
        margin-top: 40px; } }
  .homepage-about .author-video {
    position: relative;
    margin-top: 40px;
    display: block;
    margin-bottom: -100px; }
    @media (max-width: 767px) {
      .homepage-about .author-video {
        margin-bottom: 0;
        margin-left: -25px;
        margin-right: -25px; } }
    .homepage-about .author-video img {
      max-width: 100%; }
    .homepage-about .author-video h3 {
      position: absolute;
      color: white;
      top: 40%;
      text-align: center;
      width: 100%; }
      @media (max-width: 767px) {
        .homepage-about .author-video h3 {
          font-size: 2.1rem;
          padding: 0 15px;
          top: 30%; } }

.homepage-moments {
  padding: 80px 0;
  background: #75a0cd;
  color: white;
  position: relative; }
  .homepage-moments:before {
    content: '';
    position: absolute;
    top: -16px;
    left: 0;
    right: 50%;
    height: 16px;
    border-right: transparent 16px solid;
    border-bottom: #75a0cd 16px solid; }
  .homepage-moments:after {
    content: '';
    position: absolute;
    top: -16px;
    right: 0;
    left: 50%;
    height: 16px;
    border-left: transparent 16px solid;
    border-bottom: #75a0cd 16px solid; }
  @media (max-width: 767px) {
    .homepage-moments {
      padding: 30px 10px; } }
  .homepage-moments h3 {
    color: white;
    margin-bottom: 25px; }
  .homepage-moments p {
    color: white; }
  .homepage-moments a {
    color: white; }
    .homepage-moments a.underline {
      border-bottom-color: white;
      display: inline-block !important; }

.homepage-testimonials {
  padding: 80px 0;
  background: #1a2554;
  color: white; }
  .homepage-testimonials .carousel {
    margin: 0 -15px; }
  .homepage-testimonials .carousel-inner {
    min-height: 350px; }
    .homepage-testimonials .carousel-inner .item {
      padding: 0 20% 40px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .homepage-testimonials .carousel-inner .item {
          padding: 0 15% 40px; } }
      @media (max-width: 767px) {
        .homepage-testimonials .carousel-inner .item {
          padding: 0 12% 20px; } }
      .homepage-testimonials .carousel-inner .item h5 > p {
        font-family: "Volkhov", "Georgia", serif;
        font-size: 2.4rem;
        font-style: italic;
        font-weight: 400;
        line-height: 3.6rem;
        letter-spacing: -0.3px;
        color: white;
        text-transform: none;
        margin-bottom: 15px; }
        @media (min-width: 768px) and (max-width: 991px) {
          .homepage-testimonials .carousel-inner .item h5 > p {
            font-size: 2.1rem;
            margin-bottom: 20px; } }
        .homepage-testimonials .carousel-inner .item h5 > p strong {
          font-size: 2.4rem;
          color: #fcb514; }
          @media (min-width: 768px) and (max-width: 991px) {
            .homepage-testimonials .carousel-inner .item h5 > p strong {
              font-size: 2.1rem; } }
      .homepage-testimonials .carousel-inner .item > strong {
        font-weight: 700;
        font-size: 2.1rem;
        margin-bottom: 5px;
        margin-left: 30%; }
        @media (min-width: 768px) and (max-width: 991px) {
          .homepage-testimonials .carousel-inner .item > strong {
            font-size: 1.8rem;
            line-height: 3.6rem; } }
        @media (max-width: 767px) {
          .homepage-testimonials .carousel-inner .item > strong {
            margin-left: 0;
            font-size: 1.8rem; } }
      .homepage-testimonials .carousel-inner .item > p {
        font-size: 1.4rem;
        color: #75a0cd;
        margin-left: 30%; }
        @media (min-width: 768px) and (max-width: 991px) {
          .homepage-testimonials .carousel-inner .item > p {
            font-size: 1.2rem;
            line-height: 1.8rem; } }
        @media (max-width: 767px) {
          .homepage-testimonials .carousel-inner .item > p {
            margin-left: 0; } }
  .homepage-testimonials .carousel-control {
    background: none;
    width: 60px;
    opacity: 0.35; }
    .homepage-testimonials .carousel-control:hover {
      opacity: 1; }
    @media (max-width: 767px) {
      .homepage-testimonials .carousel-control.left > i {
        left: -5px; } }
    @media (max-width: 767px) {
      .homepage-testimonials .carousel-control {
        width: 30px; } }
    .homepage-testimonials .carousel-control > i {
      font-size: 4.2rem;
      top: 30%;
      position: absolute;
      right: 0; }
      @media (max-width: 767px) {
        .homepage-testimonials .carousel-control > i {
          font-size: 3rem;
          top: 35%;
          right: -5px; } }
  .homepage-testimonials .video {
    position: relative;
    display: block;
    margin-bottom: -150px;
    margin-top: 20px;
    height: 225px;
    overflow: hidden; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .homepage-testimonials .video {
        height: 183px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .homepage-testimonials .video {
        height: 138px; } }
    @media (max-width: 767px) {
      .homepage-testimonials .video {
        margin-bottom: 20px;
        margin-top: 0;
        height: 200px; } }
    .homepage-testimonials .video:hover {
      opacity: 1; }
      .homepage-testimonials .video:hover .overlay {
        opacity: 1; }
    .homepage-testimonials .video:after {
      content: '\e89c';
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      font-size: 7.2rem;
      position: absolute;
      left: 50%;
      margin-left: -25px;
      color: white;
      opacity: 0.35;
      top: 60px;
      transition: all 0.5s; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .homepage-testimonials .video:after {
          top: 42px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .homepage-testimonials .video:after {
          top: 20px; } }
    .homepage-testimonials .video img {
      max-width: 100%; }
    .homepage-testimonials .video .overlay {
      position: absolute;
      top: 0;
      height: 225px;
      left: 0;
      right: 0;
      padding: 20px;
      background: rgba(252, 181, 20, 0.5);
      opacity: 0;
      transition: all 0.5s;
      color: white;
      font-size: 3rem;
      font-weight: 300;
      text-align: center; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .homepage-testimonials .video .overlay {
          height: 183px;
          font-size: 2.4rem; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .homepage-testimonials .video .overlay {
          height: 138px;
          font-size: 2.1rem; } }
      @media (max-width: 767px) {
        .homepage-testimonials .video .overlay {
          height: 200px;
          font-size: 2.4rem; } }
  .homepage-testimonials hr {
    border-top: 1px solid rgba(255, 255, 255, 0.35); }

.homepage-resources {
  padding: 140px 0 100px; }
  @media (max-width: 767px) {
    .homepage-resources {
      padding: 60px 10px 80px; } }
  .homepage-resources h3 {
    color: #1a2554;
    margin-bottom: 25px; }
  .homepage-resources h4 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 0 0 8px; }
    @media (max-width: 767px) {
      .homepage-resources h4 {
        margin-top: 0; } }
  .homepage-resources h5 {
    text-align: center;
    margin: 20px 0; }
  .homepage-resources h6 {
    color: #a7a8aa; }
    @media (max-width: 767px) {
      .homepage-resources h6 {
        margin-bottom: 5px; } }
  .homepage-resources .vr {
    border-left: 1px solid #f1f1f2;
    padding: 2px 0 2px 40px; }
    @media (max-width: 767px) {
      .homepage-resources .vr {
        border: none;
        padding: 15px 0 0;
        margin-top: 25px;
        border-top: 1px solid #f1f1f2; } }
    .homepage-resources .vr h4 {
      font-size: 2.1rem;
      line-height: 2.7rem;
      margin: 8px 0 20px; }
      .homepage-resources .vr h4 a {
        color: #231f20; }

.single h2 {
  margin-top: 10px; }
.single .article {
  padding: 5px 25px 25px; }
  @media (max-width: 767px) {
    .single .article {
      padding: 5px 0 0; } }
  .single .article p {
    font-size: 1.6rem;
    line-height: 3rem; }
.single .list-icons {
  margin-bottom: 35px; }
  .single .list-icons a {
    background: #4e84bf;
    width: 42px;
    height: 42px;
    font-size: 2.1rem;
    color: white;
    display: block;
    padding: 5px 0;
    border-radius: 999px;
    overflow: hidden; }

#filters {
  margin-top: -25px; }
  #filters .label {
    font-size: 1.4rem; }
    #filters .label.inactive {
      background: #AAA; }

@media (max-width: 767px) {
  [data-target="#add-a-moment"] {
    display: none; } }

.moments {
  margin: 20px 0 0;
  padding: 20px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }
  .moments.moment-page {
    padding-top: 25px;
    border-top: 1px solid #f1f1f2; }
    .moments.moment-page .moment-container {
      border-bottom: 1px solid #f1f1f2;
      padding: 0 25px 25px; }
      @media (max-width: 767px) {
        .moments.moment-page .moment-container {
          padding: 0 0 25px; } }
      .moments.moment-page .moment-container:last-of-type {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0; }
      .moments.moment-page .moment-container img {
        border: none; }
        @media (max-width: 767px) {
          .moments.moment-page .moment-container img {
            display: none; } }
  .moments .moment-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 15px 15px;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .moments .moment-container {
        padding: 0 0 15px; } }
    .moments .moment-container img {
      max-width: 100%;
      border-radius: 999px;
      border: 3px solid white; }
      @media (max-width: 767px) {
        .moments .moment-container img {
          display: none; } }

#comments ol.commentlist {
  margin: 0;
  padding: 0;
  list-style: none; }
  #comments ol.commentlist > li {
    margin-bottom: 8px; }
  #comments ol.commentlist .vcard img {
    display: none; }
  #comments ol.commentlist .reply {
    display: none; }
