// Partials: Homepage

.homepage-hero {
    background-image: url('../images/background1.jpg');
    background-size: cover;
    height: 530px;
    width: 100%;
    position: relative;
    margin-top: -70px;
    padding-top: 70px;

    @media #{$screen-md} {
        height: 450px;
    }
    @media #{$screen-sm} {
        height: 440px;
    }
    @media #{$screen-xs} {
        padding-left: 10px;
        padding-right: 10px;
        height: 420px;
    }

    img.book-cover {
        max-width: 90%;
        margin-top: 50px;

        @media #{$screen-xs} {
            margin: 30px auto 0;
            display: block;
            max-width: 260px;
            width: 100%;
        }
    }
    h1 {
        margin-top: 100px;
        color: lighten($cfar-lightblue, 20%);
        text-shadow: 0 0 8px rgba(0,0,0,0.35);
        line-height: 5.2rem;

        @media #{$screen-md} {
            font-size: 3.6rem;
            line-height: 4.2rem;
        }
        @media #{$screen-sm} {
            font-size: 3.2rem;
            line-height: 4.2rem;
            margin-top: 75px;
        }
        @media #{$screen-xs} {
            margin-top: 30px;
            font-size: 3.2rem;
            line-height: 4.2rem;
            display: none;
        }
    }

    .quote {
        margin: 0;
    }
    .quote-container {
        position: relative;

        .quote {
            position: absolute;
            top: 0;
            opacity: 0;
            transition: #{$transition};
            color: white;

            &.active {
                opacity: 1;
            }
        }
    }
    .buttons {
        margin-top: 90px;

        @media #{$screen-sm} {
            margin-top: 70px;
        }
        @media #{$screen-xs} {
            margin-top: 20px;
        }

        .sod_select {
            width: 220px;
            padding: 17px 25px;
            border: none;
            background: $cfar-lightorange;
            color: white;
            font-size: 1.6rem;
            font-weight: 700;
            text-align: left;
            text-transform: none;
            cursor: pointer;
            margin-right: 8px;
            line-height: 1.33;
            transition: #{$transition};
            vertical-align: bottom;

            &:before {
                top: 16px;
                right: 16px;

                @media #{$screen-sm} {
                    top: 14px;
                }
            }
            &:after {
                bottom: 16px;
                right: 16px;
                
                @media #{$screen-sm} {
                    bottom: 14px;
                }
            }
            &:hover, &:focus {
                background: $cfar-orange;
            }
            
            .sod_label {
                font-size: 1.6rem;

                @media #{$screen-sm} {
                    font-size: 1.4rem;
                }
            }
            
            @media #{$screen-sm} {
                font-size: 1.4rem;
                width: 190px;
                padding: 14px 20px;
            }
            @media #{$screen-xs} {
                width: 100%;
            }
        }
        .sod_list {
            background: $cfar-lightorange;
            border: none;
            width: 220px;
            margin-top: 5px;
            left: 3px;

            @media #{$screen-sm} {
                width: 190px
            }
            @media #{$screen-xs} {
                width: 100%;
            }

            li {
                color: white;
                font-weight: 700;
                padding: 12px;
                font-size: 1.6rem;
                cursor: pointer;

                &.selected {
                    font-weight: 700;
                }
                &:hover,
                &.active {
                    background: $cfar-orange;
                }

                @media #{$screen-sm} {
                    font-size: 1.4rem;
                }
            }
        }

        .btn-lg {
            padding: 17px 25px;
            font-size: 1.6rem;
            margin-top: -14px;
            vertical-align: bottom;

            &:hover {
                opacity: 1;
                background: $cfar-orange;
            }

            @media #{$screen-sm} {
                font-size: 1.4rem;
                padding: 14px 20px;
                margin-top: -10px;
            }
            @media #{$screen-xs} {
                width: 100%;
                margin-top: 8px;
            }
        }
    }
}

.homepage-about {
    padding: 80px 0;

    @media #{$screen-xs} {
        padding: 250px 10px 0;
    }

    h5 {
        text-align: center;
        margin-bottom: 25px;
    }

    .about-image {
        margin: 20px auto 30px;
        position: relative;

        > img {
            max-width: 200px;
            display: block;
            margin: 20px auto 30px;
        }

        @media #{$screen-xs} {
            &:last-of-type {
                margin-top: 40px;
            }
        }
    }
    .author-video {
        position: relative;
        margin-top: 40px;
        display: block;
        margin-bottom: -100px;

        @media #{$screen-xs} {
            margin-bottom: 0;
            margin-left: -25px;
            margin-right: -25px;
        }

        img {
            max-width: 100%;
        }
        h3 {
            position: absolute;
            color: white;
            top: 40%;
            text-align: center;
            width: 100%;

            @media #{$screen-xs} {
                font-size: 2.1rem;
                padding: 0 15px;
                top: 30%;
            }
        }
    }
}

.homepage-moments {
    padding: 140px 0 80px;
    background: $cfar-lightblue;
    color: white;
    position: relative;

    @media #{$screen-xs} {
        padding: 30px 10px 50px;
    }

    h3 {
        color: white;
        margin-bottom: 25px;
    }
    p {
        color: white;
    }
    a {
        color: white;

        &.underline {
            border-bottom-color: white;
            display: inline-block !important;
        }
    }
}
.homepage-testimonials {
    padding: 80px 0;
    background: $cfar-darkblue;
    color: white;
    position: relative;
    z-index: 2;

    &:before {
        content: '';
        position: absolute;
        top: -16px;
        left: 0;
        right: 50%;
        height: 16px;
        border-right: transparent 16px solid;
        border-bottom: $cfar-darkblue 16px solid;
    }
    &:after {
        content: '';
        position: absolute;
        top: -16px;
        right: 0;
        left: 50%;
        height: 16px;
        border-left: transparent 16px solid;
        border-bottom: $cfar-darkblue 16px solid;
    }

    .carousel {
        margin: 0 -15px;
    }
    .carousel-inner {
        min-height: 350px;

        .item {
            padding: 0 20% 40px;

            @media #{$screen-sm} {
                padding: 0 15% 40px;
            }
            @media #{$screen-xs} {
                padding: 0 12% 20px;
            }

            h5 > p {
                font-family: $secondary-font-face;
                font-size: 2.4rem;
                font-style: italic;
                font-weight: 400;
                line-height: 3.6rem;
                letter-spacing: -0.3px;
                color: white;
                text-transform: none;
                margin-bottom: 15px;
                
                @media #{$screen-sm} {
                    font-size: 2.1rem;
                    margin-bottom: 20px;
                }

                strong {
                    font-size: 2.4rem;
                    color: $cfar-lightorange;

                    @media #{$screen-sm} {
                        font-size: 2.1rem;
                    }
                }
            }
            > strong {
                font-weight: 700;
                font-size: 2.1rem;
                margin-bottom: 5px;
                margin-left: 30%;

                @media #{$screen-sm} {
                    font-size: 1.8rem;
                    line-height: 3.6rem;
                }
                @media #{$screen-xs} {
                    margin-left: 0;
                    font-size: 1.8rem;
                }
            }
            > p {
                font-size: 1.4rem;
                color: $cfar-lightblue;
                margin-left: 30%;
                
                @media #{$screen-sm} {
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                }
                @media #{$screen-xs} {
                    margin-left: 0;
                }
            }
        }
    }
    .carousel-control {
        background: none;
        width: 60px;
        opacity: 0.35;

        &:hover {
            opacity: 1;
        }
        &.left {
            @media #{$screen-xs} {
                > i {
                    left: -5px;
                }
            }
        }

        @media #{$screen-xs} {
            width: 30px;
            display: none;
        }

        > i {
            font-size: 4.2rem;
            top: 30%;
            position: absolute;
            right: 0;

            @media #{$screen-xs} {
                font-size: 3rem;
                top: 35%;
                right: -5px;
            }
        }
    }
    .video {
        position: relative;
        display: block;
        margin-bottom: -150px;
        margin-top: 20px;
        height: 225px;
        overflow: hidden;

        @media #{$screen-md} {
            height: 183px;
        }
        @media #{$screen-sm} {
            height: 138px;
        }
        @media #{$screen-xs} {
            margin-bottom: 20px;
            margin-top: 0;
            height: 200px;
        }

        &:hover {
            opacity: 1;

            .overlay {
                opacity: 1;
            }
        }

        img {
            max-width: 100%;
        }
        
        .overlay {
            position: absolute;
            top: 0;
            height: 225px;
            left: 0;
            right: 0;
            padding: 20px;
            background: rgba($cfar-lightorange, 0.5);
            opacity: 0;
            transition: #{$transition};
            color: white;
            font-size: 3rem;
            font-weight: 300;
            text-align: center;

            @media #{$screen-md} {
                height: 183px;
                font-size: 2.4rem;
            }
            @media #{$screen-sm} {
                height: 138px;
                font-size: 2.1rem;
            }
            @media #{$screen-xs} {
                height: 200px;
                font-size: 2.4rem;
            }
        }
    }

    hr {
        border-top: 1px solid rgba(white, 0.35);
    }
}

.homepage-resources {
    padding: 100px 0 100px;

    @media #{$screen-xs} {
        padding: 60px 10px 80px;
    }

    h3 {
        color: $cfar-darkblue;
        margin-bottom: 25px;
    }
    h4 {
        font-size: 2.4rem;
        line-height: 3rem;
        margin: 0 0 8px;

        @media #{$screen-xs} {
            margin-top: 0;
        }
    }
    h5 {
        text-align: center;
        margin: 20px 0;
    }
    h6 {
        color: lighten($cfar-midgray, 15%);

        @media #{$screen-xs} {
            margin-bottom: 5px;
        }
    }

    .vr {
        border-left: 1px solid $cfar-lightgray;
        padding: 2px 0 2px 40px;

        @media #{$screen-xs} {
            border: none;
            padding: 15px 0 0;
            margin-top: 25px;
            border-top: 1px solid $cfar-lightgray;
        }

        h4 {
            font-size: 2.1rem;
            line-height: 2.7rem;
            margin: 8px 0 20px;

            a { color: $cfar-black; }
        }
    }
}