// Partial: Layout

html,
body {
	min-height: 100%;
}

hr.divider {
    width: 183px;
    height: 14px;
    display: block;
    margin: 60px auto;
    border: none;
    background: url('../images/divider@2x.png');
    background-size: 100%;
}