// Partial: Layout

html,
body {
	min-height: 100%;
}

hr.divider {
    width: 183px;
    height: 14px;
    display: block;
    margin: 60px auto;
    border: none;
    background: url('../images/divider@2x.png');
    background-size: 100%;

    @media #{$screen-xs} {
        margin: 40px auto;
    }
}

#wrapper {
    overflow: hidden;    
}

.content {
    padding: 40px 0 80px;

    @media #{$screen-xs} {
        padding-left: 10px;
        padding-right: 10px;
    }

    .content-padding {
        padding: 25px;
        border-bottom: 1px solid $cfar-lightgray;

        @media #{$screen-xs} {
            padding: 25px 0;
        }
        
        &:first-of-type {
            padding-top: 5px;
        }
        &:last-of-type {
            border: none;
        }
    }
}

.popover {
    border-color: transparent;

    .arrow {
        border-color: transparent !important;
    }
    .popover-content {
        padding: 12px 18px;
    }

    ul {
        li {
            a {

            }
        }
    }
}