// Partials: Pages

.single {
    h2 {
        margin-top: 10px;
    }

    .article {
        padding: 5px 25px 25px;

        @media #{$screen-xs} {
            padding: 5px 0 0;
        }

        p {
            font-size: 1.6rem;
            line-height: 3rem;
        }
    }
}

#filters {
    margin-top: -25px;

    .label {
        font-size: 1.4rem;

        &.inactive {
            background: #AAA;
        }
    }
}

[data-target="#add-a-moment"] {
    @media #{$screen-xs} {
        display: none;
    }
}