// Partials: Typography

html, body {
	font-size: 62.5%;
}

h1, h2, h3, h4,
p, ol, ul, li, div, 
input, label {
	font-family: $primary-font-face;
    font-size: 1.4rem;
}

h1 {
    font-family: $primary-font-face;
    font-size: 4.2rem;
    font-weight: 900;
    color: $cfar-black;
    letter-spacing: -0.5px;
}
h2 {
    font-family: $primary-font-face;
    font-size: 3rem;
    font-weight: 900;
    color: $cfar-darkblue;
    letter-spacing: 0.2px;
}
h3 {
    font-family: $primary-font-face;
    font-size: 2.4rem;
    font-weight: 900;
    color: $cfar-black;
    letter-spacing: 0.2px;

    a.view-all {
        font-family: $secondary-font-face;
        font-size: 1.4rem;
        font-style: italic;
        letter-spacing: -0.5px;
        color: $cfar-textblue;
        margin-left: 6px;
        text-transform: lowercase;
    }
}
h4 {
    font-family: $primary-font-face;
    font-size: 2.4rem;
    font-weight: 400;
    color: $cfar-black;
}
h5 {
    font-family: $secondary-font-face;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: $cfar-black;
}
h6 {
    font-family: $secondary-font-face;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0px;
    color: $cfar-midgray;
}

p {
    font-family: $primary-font-face;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.7rem;
    color: darken($cfar-midgray, 25%);
}
a {
    opacity: 1;
    transition: #{$transition};
    
    &:hover {
        text-decoration: none;
        opacity: 0.65;
    }
    &.underline {
        font-weight: 700;
        border-bottom: 1px dashed $cfar-midblue;
    }
    &.text-center {
        display: inline-block;
    }
}

.btn {
    border: none;
    border-radius: 0;
    font-weight: 700;

    &.btn-primary {
        background: $cfar-lightorange;
        color: white;
    }
}

.label {
    &.culture {
        background: #f1c34a;

        &:hover { background: darken(#f1c34a, 15%); }
    }
    &.coalitions {
        background: #8d9ace;
        
        &:hover { background: darken(#8d9ace, 15%); }
    }
    &.change {
        background: #76c9b8;
        
        &:hover { background: darken(#76c9b8, 15%); }
    }
    &.leadership {
        background: #92c83d;
        
        &:hover { background: darken(#92c83d, 15%); }
    }
}